@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --primary-color: #4A7B81;
  --secondary-color: #F3F0F5;
  --tertiary-color: #e08387;
  --text-color: #311F32;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.mx-5 {
  margin-right: var(--spacing-five);
  margin-left: var(--spacing-five);
}
.my-1 {
  margin-top: var(--spacing-one);

}
.my-2 {
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

body {
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-size: 18px;
  line-height: 1.7;
  font-weight: 100;
}

ul li {
  margin-left: 40px;
}

/* Header / Nav Bar styles start */
header {
  padding: 10px 35px;
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  background-image: url('./assets/images/charles2.jpg');
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  z-index: 9999;
}

header h1 {
  font-weight: 200;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
  text-shadow: 0 0 10px rgba(243,240,245, 0.2);
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  background: var(--secondary-color);
  color: var(--primary-color);

  border-radius: 15px;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.25vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header nav ul li a:hover {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);

  border-radius: 15px;
  text-shadow: none;
}

.navActive {
  background: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}
/* Header / Nab Bar styles end */

/* Hero styles start*/
.hero {
  background-image: url('./assets/images/charles2.jpg');
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 30px;
  line-height: 48px;
  font-weight: 400;
  padding-bottom: 10px;
}

.hero-intro {
  /* border: 1px solid var(--tertiary-color); */
  background-color: rgba(243, 240, 245, 0.8);
  padding: 20px;
  font-size: 18px;
  text-align: center;
  line-height: 1.8;
  color: var(--text-color);
  margin: 11%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 15px 40px;
}
/* Hero styles end */

/* H2 H3 H4 styles start */
h2 {
  display: flex;
  color: var(--primary-color);
  margin: 25px 0 25px 0;
  font-size: 39px;
  line-height: 48px;
  font-weight: 400;
}

h3 {
  /* color: var(--primary-color); */
  font-size: 25px;
  line-height: 40px;
  font-weight: 400;
}

h4 {
  font-size: 22px;
  padding-bottom: 8px;
  font-weight: lighter;
}
/* H2 H3 H4 styles end */

/* About section styles start */
.about-section {
  background-color: var(--secondary-color);
  display:flex;
  justify-content: space-evenly;
  padding: 20px 0 25px 0;
}

.about-text {
  Padding-left: 20px;
  flex: 0 50%;
}

.fun-facts {
  border: 2px solid var(--tertiary-color);
  border-radius: 10px;
  padding: 20px;
}
.about-text h2 {
  display: flex;
  color: var(--primary-color);
  margin: 25px 0 25px 0;
  font-size: 39px;
  line-height: 48px;
  font-weight: 400;
}

.about-text ul li {
  margin-left: 25px;
}

.about-container-2 {
  display:flex;
}
.about-img {
  border: 0;
}
/* About section styles end */

/* General Styles */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

 a {
  transition: var(--transition);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--primary-color);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--primary-color);
  transition: var(--transition);
}

.btn:hover {
  background-color: white;
  color: var(--text-color);
  border-color: transparent;
}

.btn-primary {
  background: var(--primary-color);
  color: var(--text-color);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/*Resume styles start */
.column-div {
  overflow: hidden
}

.col-1 {
  width: 45%;
  float: left;
}

.col-2 {
  width: 50%;
  float: right;
}

/* Contact styles start */
#contact {
  display: flex;
  justify-content: center;
  background-color: var(--tertiary-color);
  padding: 50px 25px 30px 25px;
}

#contact-form {
  display: flex;
  /* justify-content: center; */
  /* padding: 50px 25px 30px 25px; */
}

textarea {
	width: 100%;
	height: 120px;
	padding: 5px;
}

input {
  padding: 5px 10px 5px 10px;
}


.lets-connect {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--tertiary-color);
  background-color: var(--secondary-color);
  padding: 0px 20px 10px 20px;
  line-height: 1.8;
  box-shadow: 0 0 10px rgba(49,31,50, 0.5);
  border-radius: 10px;
  width: 1000px;
}

.connect {
  display: flex;
  justify-content: center;
}

.lets-connect-img {
  padding-right: 50px;
  /* float: left; */
  border-radius: 50%;
}

.lets-connect-text {
  text-align: top;
}

button {
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
  border-radius: 15px;
  text-shadow: none;
  padding: 10px 15px;
  font-weight: lighter;
  /* font-size: 1.55vw; */
  /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

button:hover {
  opacity: .8;
}
/* Contact styles end */

/* Footer styles start */

footer {
  background-color: var(--text-color);
}
.social-icons {
  display: flex;
  padding-left: 10px;
  justify-content: center;
}

.social-icons img {
  justify-items: flex-end;
  padding: 10px 3px 10px 3px;
}
/* Footer styles end */

/* MEDIA QUERY FOR MEDIUM DEVICES */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
    background-position: top;
    background-attachment: fixed;
  }
  header h1 {
   width: 100%;
   color: var(--secondary-color);
   font-weight: 400;
   font-size: 42px;
   text-align: center;
  }
  header nav ul {
   margin-top: 20px;
   width: 100%;
   justify-content: center;
  }
  header nav ul li a {
   font-size: 20px;
  }

  .hero {
      background-position: top;
  }

  .hero-intro {
      padding: 12px;
      text-align: center;
      margin: 50px auto 50px auto;
  }
  .about-text {
      flex: 0 60%;
  }
  .about-section {
    padding-left: 20px;
  }

  .about-img img {
      width: 300px;
  }
  .projects-title {
      width: 18%;
      margin: 25px 10px 25px 0;
  }

  
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  header {
      padding-bottom: 0;
      justify-content: center;
      background-position: 80%;
      background-attachment: fixed;
    }

  .hero {
      background-position: 80%;
    }

  .about-section {
      padding-left: 15px;
    }

  .fun-facts {
      margin-right: 20px;
    }
  
  .connect {
      display: block;
    }

  body {
      font-size: 16px;
    }
  .about-section {
      display: block;
    }

  .about-container-2 {
      justify-content: center;
  }
  .container {
    width: var(--container-width-sm)
  }
}